{% set bg_img_url = file_url(content.field_media_image|field_target_entity.field_media_image.entity.uri.value) %}

<div class="bkg" style="background-image:url({{ bg_img_url }});">
    {{content|without(content.field_media_image)}}
</div>