<div {{attributes.addClass(classes, 'field__items', "title")}}>
    {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
</div>