{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
    paragraph.field_theme.value ? "quote--theme--" ~ paragraph.field_theme.value|clean_class,
    paragraph.field_border.value ? "quote--border--" ~ paragraph.field_border.value|clean_class
  ]
%}

<div{{attributes.addClass(classes, "textimg-vertical-top")}}>    
    <div class="textimg-img">
        {{content|without(content.field_body, content.field_title)}}
    </div>
    <div class="textimg-text">
        {{content|without(content.field_media_image)}}
    </div>
</div>