{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_theme.value ? "quote--theme--" ~ paragraph.field_theme.value|clean_class,
    paragraph.field_border.value ? "quote--border--" ~ paragraph.field_border.value|clean_class
  ]
%}
<div{{attributes.addClass(classes, "form")}}>
    <div class="form-title">
        {{content.field_title}}
    </div>

    <div class="form-content">
        {{content|without(content.field_title)}}
    </div>
</div>