{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_theme.value ? "quote--theme--" ~ paragraph.field_theme.value|clean_class,
    paragraph.field_border.value ? "quote--border--" ~ paragraph.field_border.value|clean_class
  ]
%}
{% set bg_img_url = file_url(content.field_media_image|field_target_entity.field_media_image.entity.uri.value) %}

<div{{attributes.addClass(classes, "bkg")}} style="background-image:url({{ bg_img_url }});">
    <div class="bkg-body">
        {{content|without("field_call_to_action", "field_media_image")}}
    </div>

    <div class="bkg-cta">
        {{content.field_call_to_action}}
    </div>
</div>